.brands {

    &__row {
        max-height: 600px;
    }

    &__column {
        display: flex;
        flex-direction: column;
        flex: 0 1 33.333%;
    }

    &__item-image {
        flex: 0 1 66.666%;
    }

    

    &__article {
    }

    &__icon {
    }

    &__label {
    }

    &__text {
    }
}
.item-image {

    &__logo {
    }

    &__image {
    }
}
