.subscribe {
    background-color: #ffffff;
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 109px 0 111px 0 ;
    }
    &__icon {
        display: block;
        margin-bottom: 39px;
        width: 94px;
        height: 85px;
    }

    &__title {
        margin-bottom: 35px;
        font-size: 24px;
        line-height: 34px;
        font-weight: 400;
        font-style: italic;
        color: #848789;
    }

    &__form {
        display: flex;
    }

    &__input {
        width: 400px;
        height: 69px;
        background-color: #ffffff;
        border: 1px solid #d3d7d9;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        font-style: italic;
        color: #929292;
        padding: 0 28px;
        margin-right: 10px;
        
        &.err {
            border: 1px solid #f95252;
        }
       
    }

    &__button {
        width: 126px;
        height: 69px;
        padding-top: 22px;
        background-color: #64c29e;
        font-size: 24px;
        line-height: 24px;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
        
    }
    @media (max-width: 620px) {
        &__form {
            flex-direction: column;
        }
        &__input {
            margin-right: 0px;
        }
        &__button {
            margin-top: 20px;
            width: 100%;
        }
    }
}
.input {
}
