.subscribe {
    background-color: #ffffff;
    &__icon {
    }

    &__title {
    }

    &__form {
    }

    &__input {
    }

    &__button {
        width: 126px;
height: 69px;
background-color: #64c29e;
    }
}
.input {
}
