
html {
    font-family: 'Lato', sans-serif;
    
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 15px;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.main-screen {
    flex: 1 0 100%;
    position: relative;
    background-image: url("../img/main-screenBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content {
}

@import 'https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap';
@import 'nullstyle.scss';
@import '_header.scss';
@import '_article.scss';
@import '_common.scss';
@import '_generation.scss';
@import '_brands.scss';
@import '_slider.scss';

